<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fast News</title>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <div id="app"><%- html -%></div>
</body>
<script src="js/scripts.min.js"></script>
</html>